<h1>New Post</h1>

<form action="/" method="POST">

<label>Title</label>
<input type="text" name="title">

<label for="body">Body</label>
<textarea name="body"></textarea>

<input type="submit" name="Create Post">